.App {
  text-align: center;
  background-size: cover;
}

.body {
  background-color: #060707;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button {
  background-color: rgb(238, 238, 234);
  color: #2d3436;
  border-radius: 50%;
  font-size: medium;
  padding: 20px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 10px;
  float: left;
}

.App-link {
  color: #61dafb;
}

.gambar {
  width: 700px;
  height: 400px;
  border: groove rgb(0, 0, 0);
  border-width: 10px;
  margin-bottom: 50px;
  border-radius: 10px;
}

.judul {
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.marquee {
  font-weight: bold;
}

.image {
  height: 400px;
  width: 700px;
}

.masukan {
  padding: 10px 50px 10px 10px;
}
